Flask==3.1.0
Flask-Bcrypt==1.0.1
flask-cors==5.0.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-Mail==0.9.1
gunicorn==23.0.0
PyMySQL==1.1.0
SQLAlchemy==2.0.38
python-dotenv==1.0.1
Werkzeug==3.1.3
