<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_login.css') }}">
</head>
<body>
    <div class="container">
        <h2>Reset Password</h2>
        <div class="input-group">
            <input type="password" id="new-password" placeholder="New Password" required>
        </div>
        <div class="input-group">
            <input type="password" id="confirm-password" placeholder="Confirm Password" required>
        </div>
        <div class="button-group">
            <button class="btn login" onclick="changePassword()">Change Password</button>
        </div>
        <p id="message"></p>
        <div class="button-group">
            <button class="btn" onclick="goToLogin()">Back to Login</button>
        </div>
    </div>

    <script>
        function goToLogin() {
            window.location.href = "/";
        }
        async function changePassword() {
            const password = document.getElementById("new-password").value;
            const confirmPassword = document.getElementById("confirm-password").value;
            const email = localStorage.getItem("reset_email");

            if (password !== confirmPassword) {
                document.getElementById("message").textContent = "Passwords do not match.";
                return;
            }

            const res = await fetch("/reset_password", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ email, password }),
            });

            const data = await res.json();
            document.getElementById("message").textContent = data.message;

            if (data.success) {
                localStorage.removeItem("reset_email");
                setTimeout(() => {
                    window.location.href = "/";
                }, 2000);
            }
        }
    </script>
</body>
</html>
